<footer class="container-footer">
    <div class="footer">
        <nav class="footer-left">
            <ul class="footer-left-menu">
                <li>
                    <a class="link-footer" href="">Legal</a>
                </li>
                <li>
                    <a class="link-footer" href="">Cookies</a>
                </li>
                <li>
                    <a class="link-footer" href="">Información sobre los anuncios</a>
                </li>
            </ul>
        </nav>
        <div class="footer-right">
            <span class="footer-item">
                España
                <img class="footer-item" src="./assets/images/es.svg" title="imagen españa" alt="imagen españa">
            </span>
            <span class="footer-item">&copy; 2021 Spotify</span>
        </div>
    </div>
</footer>