<main>
    <section class="hero">
        <h1 class="herotitle">Prueba Premium gratis 3 meses</h1>
        <p class="herotext">Escucha millones de canciones sin anuncios, a la carta y sin conexión</p>
        <div class="button">
            <a class="plans-button" href="">Ver planes</a>
        </div>
        <small class="herotextsmall">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis tempore
            ipsam
            molestiae voluptatum corrupti, magnam harum! Mollitia magnam</small>
    </section>


    <section class="new">
        <article class="new__article">
            <h1 class="new__title">Titulo de otra nueva sección</h1>
            <p class="new__link"><a href="https://adalab.es/"> 25 de noviembre</a></p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut debitis dicta et enim veritatis. Maiores
                dolore, tempora ut vitae voluptatum, illum odio nostrum nisi provident ipsum obcaecati illo hic modi.
            </p>
        </article>
    </section>


    <section class="benefits">
        <h2 class="benefits__title">¿Por qué pasarte a Premium?</h2>
        <div class="benefits__subsection">
            <article class="benefits-article">
                <img class="benefits-image" src="./assets/images/benefit-1.png" alt="Descarga música" />
                <div class="benefits-content">
                    <h3 class="benefits-content-title">Descarga música</h3>
                    <p class="benefits-content-text">Llévala siempre contigo</p>
                </div>
            </article>
            <article class="benefits-article">
                <img class="benefits-image" src="./assets/images/benefit-2.png" alt="Sin anuncios" />
                <div class="benefits-content">
                    <h3 class="benefits-content-title">Sin anuncios</h3>
                    <p class="benefits-content-text">Disfruta de música sin interrupciones</p>
                </div>
            </article>
            <article class="benefits-article">
                <img class="benefits-image" src="./assets/images/benefit-3.png" alt="Escucha lo que quieras" />
                <div class="benefits-content">
                    <h3 class="benefits-content-title">Escucha lo que quieras</h3>
                    <p class="benefits-content-text">Incluso en el móvil</p>
                </div>
            </article>
            <article class="benefits-article">
                <img class="benefits-image" src="./assets/images/benefit-4.png"
                    alt="Salta todas las canciones que quieras" />
                <div class="benefits-content">
                    <h3 class="benefits-content-title">Salta todas las canciones que quieras</h3>
                    <p class="benefits-content-text">Simplemente dale a siguiente</p>
                </div>

            </article>
        </div>
    </section>

</main>